html,
body {
    height: 99%
}

.img_About {
    border-radius: 25px;
    display: block;
    margin: auto;
    width: 63%;
}

.About_bloc {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    align-items: center;
    width: 55%;
    margin: auto;
    background: #FF6060;
    border-radius: 5px;
}

